.footer-container {
  display: flex;
  justify-content: center;
  height: 250px;
  width: 100%;
  padding-top: 2rem;
  background: rgb(24, 24, 24);
}

.footer-container h2 {
  color: white;
  margin: 0;
}